
<style>
.resetButton{
  margin-bottom: 10px;
}
</style>

<body style="background-color: ; text-align:center;">

  <div class="container" style="margin-top: 3em;">

    <div class="row">

      <div class="">

        <h1 style="text-align: center; font-family:'Lato', sans-serif;">Welcome back {{username}}!</h1>

          <div class="card-panel col s12 m8">

            <h5 style="font-weight:bold;">Have you gone 24 hours without fapping{{habit}}?</h5>
              <br/>
              <br/>
            <button class="btn green" id="yes">Yes!</button>
              <br/>
              <br/>
            <button class="btn red darken-3 resetButton">No...</button>

            <h5>Goal: 10 Days {{habit}} Free</h5>

            <div class="progress">
              <div class="progress-bar progress-bar-success" id="goal" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40% Complete (4 days)
              </div>
            </div>

          </div>


          <div class="card-panel col s12 m4 offset-1">
            <h5>Current Streak</h5>
            <p>{{streak}} 1 days</p>
            <h5>Longest Streak </h5>
            <p>{{longestStreak}} 1 days</p>
          </div>

          <div class="card-panel col s12 m4 offset-1">
            <p>[Quitting Content]</p>
          </div>

      </div>

    </div>

  </div>

  <script type="text/javascript">

    var value = {{streak}};
        var $toastContent = $('<span>I am toast content</span>');
      $('#yes').on('click',(function(){
        value += 10;
        $('.progress-bar').css('width', value+'%').attr('aria-valuenow', value);

      }));

      if (value == 100){

        Materialize.toast($toastContent, 5000);
      }

  </script>

</body>
