
<style>

.resetButton{
  margin-bottom: 10px;
}

</style>

<body style="background-color: ; text-align:center;">

  <div class="container" style="margin-top: 3em;">

    <div class="row">


        <h1 style="text-align: center; font-family:'Lato', sans-serif;">Welcome back {{username}}!</h1>

        <div class="card-panel col s12">

          <h2>[[ADD CHAT HERE]]</h2>

        </div>

        </div>

          <div class="card-panel col s12 m8">

            <h5 style="font-weight:bold;">Have you gone 24 hours without fapping{{habit}}?</h5>
              <br/>
              <br/>
            <button class="btn green" id="yes">Yes!</button>
              <br/>
              <br/>
            <button class="btn red darken-3 resetButton" id="no">No...</button>

            <h5>Goal: 10 Days {{habit}} Free</h5>

            <div class="progress">
              <div class="progress-bar progress-bar-success" id="goal" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40% Complete (4 days)
              </div>
            </div>

          </div>


          <div class="card-panel col s12 m4 offset-1">
            <h5>Current Streak</h5>
            <p>{{streak}} 1 days</p>
            <h5>Longest Streak </h5>
            <p>{{longestStreak}} 1 days</p>
          </div>

          <div class="card-panel col s12 m4 offset-1">
            <p>[Quitting Content]</p>
          </div>


    </div>

  </div>

  <script type="text/javascript">

     $(document).ready(function(){
    
     	var today = new Date();
     	today = today.toISOstring();
     	// returns 2016-08-19T16:55:45.635Z
     	today = today.substr(0,10);
     	// returns 2016-08-19
     	today = today.replace(/-/g, "");
     	// returns 20160819
        today = parseInt(today);
        
        $.ajax({
			    type: "GET",
			    url: 'http://localhost:3000/compare',
			    dataType: "json",
			    async: true,
			    success: function(data) {
			      
			      	var oldTimestamp = data;
			      	oldTimestamp = oldTimestamp.toISOstring();
			      	// returns 2016-08-18T16:55:45.635Z
			      	oldTimestamp = oldTimestamp.substr(0,10);
			      	// returns 2016-08-18
			      	oldTimestamp = oldTimestamp.replace(/-/g, "");
			      	// returns 20160818
			      	oldTimestamp = parseInt(oldTimestamp);

			      	if(today - oldTimestamp < 1){
			      		$('#yes').attr('disabled', true);
			      		//so essentially when you convert days to numbers you get 20160818 and 20160819
			      		//if one day has passed, subtracting current day from the previous should equal 1
			      	}
			      	if(today - oldTimestamp > 1){
			      		$.post('http://localhost:3000/compare');
			      	}
			      
			    }
			  });

        $('#yes').on('click', function(){
        	$.post('http://localhost:3000/streak');

          this.attr('disabled', true);
        })

        $('#no').on('click', function(){
        	$.post('http://localhost:3000/compare');
        })

     })

  </script>

</body>
